.u-color-header {
  color: $color-dark-blue;
}
.u-color-text {
  color: $color-gray-blue;
}
.u-padding-article {
  padding: 0 2rem;

  @media only screen and (max-width: $bp-small) {
    padding: 0 5rem;
  }
}
.heading--5 {
  font-size: 2rem;
  margin: 1.2rem 0;
}
